input.file-caption-name.form-control.kv-fileinput-caption{
    line-height: 2rem;
}
div.btn.btn-primary.btn-file{
    border-radius: 0px;
}
span.select2-selection.select2-selection--single{
    background-color: transparent;
}