.frontend-logo-image{
    width: 10rem;
}
.after-border::after {
    content: "";
    display: block;
    height: auto;
    width: 56px;
    margin: 10px auto auto;
    background: transparent;
    border-top: 2px solid #2468f5;
}
.page-sub-title {
    font-weight: lighter;
}
.seller-image{
    width: 100%;
    height:50%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 8px;
}