.frontend-logo-image{
    width: 10rem;
}
.after-border::after {
    content: "";
    display: block;
    height: auto;
    width: 56px;
    margin: 10px auto auto;
    background: transparent;
    border-top: 2px solid #2468f5;
}
.page-sub-title {
    font-weight: lighter;
}
.seller-image {
    width: 100%;
    height:40%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 8px;
}
.seller-form-title {
    font-weight: 200 !important;
}

.blog-sidebar .category-post li a {
    color: #fff !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 15px;
}
.seller-dashboard {
    background-color: #0b0d0f;
    padding: 10px;
    margin-bottom: 10px;
}
.seller-dashboard.active {
    background-color: #266bf9;
    padding: 10px;
    font-weight: 600;
}
.badge {
    padding: .50rem .55rem !important;
    font-size: .85em !important;
}
.is_featured_image {
    height: 19rem;
    background-color: rgba(0, 0, 0, 0.21);
    color: white;
}
.style-one .single-banner {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    filter: grayscale(40%);
}
.style-one .single-banner .banner-content .title {
    color: #ffffff;
}
.style-one .single-banner .banner-content .category {
    color: #fff;
}
.btn-primary {
    color: #fff;
    background: #266bf9;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    border-color: #266bf9;
}
.btn-primary:hover {
    color: #fff;
    background: #2162e7;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    border-color: #266bf9;
}